Makefile
*.o
build
/config
/configure
/Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/m4
/doc/Makefile.in
/tests/Makefile.in
.deps/
.libs/
config.log
config.status
doc/doxygen/Doxyfile
librtaudio.la
librtaudio_la-RtAudio.lo
librtaudio_la-rtaudio_c.lo
libtool
rtaudio.pc
tests/.deps/
tests/.libs/
tests/apinames
tests/audioprobe
tests/duplex
tests/playraw
tests/playsaw
tests/record
tests/testall
tests/teststops
